
.MuiTable-root {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}
.MuiTable-root caption {
  color: rgba(0, 0, 0, 0.54);
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  caption-side: bottom;
  letter-spacing: 0.01071em;
}
.MuiTable-stickyHeader {
  border-collapse: separate;
}


.MuiTableSortLabel-root {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-direction: inherit;
  justify-content: flex-start;
}
.MuiTableSortLabel-root:focus {
  color: rgba(0, 0, 0, 0.54);
}
.MuiTableSortLabel-root:hover {
  color: rgba(0, 0, 0, 0.54);
}
.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: rgba(0, 0, 0, 0.87);
}
.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: rgba(0, 0, 0, 0.54);
  opacity: 1;
}
.MuiTableSortLabel-root:hover .MuiTableSortLabel-icon {
  opacity: 0.5;
}
.MuiTableSortLabel-icon {
  opacity: 0;
  font-size: 18px;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin-left: 4px;
  user-select: none;
  margin-right: 4px;
}
.MuiTableSortLabel-iconDirectionDesc {
  transform: rotate(0deg);
}
.MuiTableSortLabel-iconDirectionAsc {
  transform: rotate(180deg);
}


.MuiTypography-root {
  margin: 0;
}
.MuiTypography-body2 {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
.MuiTypography-body1 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.MuiTypography-caption {
  font-size: 0.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}
.MuiTypography-button {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
.MuiTypography-h1 {
  font-size: 6rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}
.MuiTypography-h2 {
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}
.MuiTypography-h3 {
  font-size: 3rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
}
.MuiTypography-h4 {
  font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}
.MuiTypography-h5 {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}
.MuiTypography-h6 {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.MuiTypography-subtitle1 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}
.MuiTypography-subtitle2 {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}
.MuiTypography-overline {
  font-size: 0.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}
.MuiTypography-srOnly {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.MuiTypography-alignLeft {
  text-align: left;
}
.MuiTypography-alignCenter {
  text-align: center;
}
.MuiTypography-alignRight {
  text-align: right;
}
.MuiTypography-alignJustify {
  text-align: justify;
}
.MuiTypography-noWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.MuiTypography-gutterBottom {
  margin-bottom: 0.35em;
}
.MuiTypography-paragraph {
  margin-bottom: 16px;
}
.MuiTypography-colorInherit {
  color: inherit;
}
.MuiTypography-colorPrimary {
  color: #3f51b5;
}
.MuiTypography-colorSecondary {
  color: #f50057;
}
.MuiTypography-colorTextPrimary {
  color: rgba(0, 0, 0, 0.87);
}
.MuiTypography-colorTextSecondary {
  color: rgba(0, 0, 0, 0.54);
}
.MuiTypography-colorError {
  color: #f44336;
}
.MuiTypography-displayInline {
  display: inline;
}
.MuiTypography-displayBlock {
  display: block;
}


.MuiToolbar-root {
  display: flex;
  position: relative;
  align-items: center;
}
.MuiToolbar-gutters {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width:600px) {
  .MuiToolbar-gutters {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.MuiToolbar-regular {
  min-height: 56px;
}
@media (min-width:0px) and (orientation: landscape) {
  .MuiToolbar-regular {
    min-height: 48px;
  }
}
@media (min-width:600px) {
  .MuiToolbar-regular {
    min-height: 64px;
  }
}
.MuiToolbar-dense {
  min-height: 48px;
}


.MuiTableCell-root {
  display: table-cell;
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid
    rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
.MuiTableCell-head {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  line-height: 1.5rem;
}
.MuiTableCell-body {
  color: rgba(0, 0, 0, 0.87);
}
.MuiTableCell-footer {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.75rem;
  line-height: 1.3125rem;
}
.MuiTableCell-sizeSmall {
  padding: 6px 24px 6px 16px;
}
.MuiTableCell-sizeSmall:last-child {
  padding-right: 16px;
}
.MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox {
  width: 24px;
  padding: 0px 12px 0 16px;
}
.MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox:last-child {
  padding-left: 12px;
  padding-right: 16px;
}
.MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox > * {
  padding: 0;
}
.MuiTableCell-paddingCheckbox {
  width: 48px;
  padding: 0 0 0 4px;
}
.MuiTableCell-paddingCheckbox:last-child {
  padding-left: 0;
  padding-right: 4px;
}
.MuiTableCell-paddingNone {
  padding: 0;
}
.MuiTableCell-paddingNone:last-child {
  padding: 0;
}
.MuiTableCell-alignLeft {
  text-align: left;
}
.MuiTableCell-alignCenter {
  text-align: center;
}
.MuiTableCell-alignRight {
  text-align: right;
  flex-direction: row-reverse;
}
.MuiTableCell-alignJustify {
  text-align: justify;
}
.MuiTableCell-stickyHeader {
  top: 0;
  left: 0;
  z-index: 2;
  position: sticky;
  background-color: #fafafa;
}


.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiSvgIcon-colorPrimary {
  color: #3f51b5;
}
.MuiSvgIcon-colorSecondary {
  color: #f50057;
}
.MuiSvgIcon-colorAction {
  color: rgba(0, 0, 0, 0.54);
}
.MuiSvgIcon-colorError {
  color: #f44336;
}
.MuiSvgIcon-colorDisabled {
  color: rgba(0, 0, 0, 0.26);
}
.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
}
.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}


.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}
.MuiButtonBase-root.Mui-disabled {
  cursor: default;
  pointer-events: none;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;

}
.dashboard p {
  font-weight: 500;
}
.dashboard h3 {
  margin-top: 10px;
}
.shared-dashboard {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shared-dashboard div {
  width: 50%;
}

.shared-dashboard p {
  font-size: 14px; 
}

.shared-dashboard-tipoFundo {
  font-size: 16px; 
}
.m-chart {
  position: relative;
}
.m-chart canvas {
  height: 270px !important;
  width: 550px !important;
}
.chart-middle {
  position: absolute;
  top: 20%;
  right: 43%;
  text-align: center;
}
.chart-middle p {
   line-height: 20px;
}

.fundo-documentos-tipo {
  background-color: #f4f2ed;
  margin: 5px 0;
  padding: 20px 20px;
}
.fundo-documentos-tipo:hover {
  border-left: 4px solid #cc3b27;
  box-shadow: 6px 6px 8px 0px rgba(52,52,52,0.17);
  cursor: pointer;
}
.fundo-documentos-tipo>p {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.documento-saibamais {
  color: #bfac90;
  font-size: 25px;
  margin-left: auto;
  float: right;
}
.fundo-documentos-tipo:hover .documento-saibamais {
  color: #92774d;
  font-weight: bolder;
}

.grid-cards {
  margin: 0px auto;
  padding: 2%;
  /* width: 95%; */
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "ativos passivo"
                       "ativos  pl";

  /* justify-content: space-between; */
}
.ativos {
  grid-area: ativos;
}
.passivo {
  grid-area: passivo;
}
.pl {
  grid-area: pl;
}

.icone-vortx {
  width: 20px;
}
.carteira-valor-geral {
  text-align: center;
  padding: 40px;
  margin-top: 0;;
}
.carteira-valor-geral p {
  font-weight: 700;
}
.carteira-valor-geral h1 {
  color: #8E734A;
}
.card-header {
  display: flex;
}
.card-header-info {
  display: flex;
  border-bottom: 1px solid #8E734A;
  width: 100%;
  align-items: center;
}
.card-header p {
  margin-left: auto;
  color: #416780;
  font-weight: 700;
}
.card-header img {
  width: 70px;
}
.shared-card {
  background: white;
  justify-content: space-around;
  padding: 2%;
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.25);
  border: 1px solid #dedede;
  margin: 10px;
  border-radius: 5px;
}
.carteira-geral-ativos {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 50px;
}
.carteira-geral-ativos:before {
  content : "";
  position: absolute; 
  top: 0;
  left: 25%;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid #8E734A;
}
.lista-ativos {
  width: 50%;
  padding: 10px 0;
}
span {
  font-weight: 700;
}

.fundo-documentos-item {
  display: none;
}

.fundo-documentos-item-active {
  display: block;
  margin-bottom: 50px;
}
.fundo-documentos-item-active p:hover {
  color: #cb1e25;
  font-weight: bolder;
}
.fundo-documentos-item p {
  margin: 20px 20px;
  padding: 20px 20px 0 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.fundo-ativo-classe {
  display: flex;
  margin: 0 2%;
  border-bottom: 1px solid #8E734A;
  padding-bottom: 30px;
  align-items: center;

}
.fundo-ativo-classe h4 {
  margin: 0;
  margin-right: 20px;
  text-transform: none;
}
.fundo-ativo-classe select {
  text-transform: uppercase;
  /* font-weight: 700; */
  /* border: none; */
  padding: 5px 50px;
  /* font-size: 20px; */
  font-family: 'Josefin Sans', sans-serif;
}

table {
  border-collapse:separate; 
  border-spacing: 0px 5px;
  margin: 0 auto;
  width: 100%;
}
th {
  color: #888888;
  font-weight: 300;
}
th, td {
  font-size: 13px;
  padding: 15px;
  text-align: left;
  font-weight: 400;
}

thead>tr {
  background-color: #fff;
  color: #343434;
}

.td-emissor {
  font-weight: bolder;
  text-transform: uppercase;
}
.td-saibamais {
  color: #bfac90;
  font-size: 25px;
}
.card {
  margin: 20px auto;
  background: white;
  width: 95%;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.25);
}

.btn-download {
display: flex;
flex-wrap: wrap;
height: 30px;
}
.download-icon {
padding: 7px 10px;
color: #ffffff;
background-color: #9d2b1c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400i,400,700|Roboto:400,500,700,900&display=swap);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
